*.o
*.la
*.lo
*.in
*.m4
*.log
config.status
libtool
Makefile
config
configure
test/.deps/
test/.libs/
src/.deps/
src/.libs/
src/libCruceGame/.deps/
src/libCruceGame/.dirstamp
src/config.h
src/stamp-h1
autom4te.cache/
test/run-test.sh.trs
ipch/
*.suo
*.sdf
*.opensdf
Debug/



# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries
# .idea/shelf

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml


## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/


